@charset "utf-8";
body{background: darkgray;}/*임시*/
*{margin:0; padding: 0;}
ul{list-style:none;}
a{text-decoration: none; display: block;}
img{border: none;}
/*공통 설정*/
#wrap{position: fixed; top: 0; left: 0; width: 100%; height: 100%; 
    min-width: 1400px; min-height: 780px; transition:all 2s; background:url(../images/470.jpg)0 0/100%;}
/*전체 적용*/
#wrap .logo{width: 200px; height: 140px; position: fixed; top: 40px; left: 60px;}
.logo img{width: 100%;}
/*로고 적용*/
.list{position: fixed; top: 50px; right: 200px;}
.list li{float: left; margin-left: 20px;}
.list li a{font-size: 14px; font-weight: bold; color:#aaa; font-family: 'Do Hyeon', sans-serif;}
/*리스트 적용*/
.sns{position: fixed; top: 50px; right: 50px;}
.sns li{float: left; margin-left: 20px;}
.sns li a{font-size: 20px; font-weight: bold; color:#aaa;}
/*어썸폰트 적용*/
article p{position: absolute; top: 330px; left: 250px; width: 400px; font-size: 50px; color:#997c76;
font-family:'Saira Stencil One', cursive;}
article b{position: absolute; top: 430px; left: 250px; width: 500px; font-size: 24px; color:#a37b6b;
font-family: 'Sunflower',sans-serif;}
/*article 적용*/
figure{position: absolute; top: 200px; right: 100px; width: 500px; height: 1020px; overflow: hidden;
transition:all 2s; z-index: 5; }
figure p{position: absolute; top: 45px; right: 138px; width: 360px; height: 710px; overflow: hidden;
font-size: 40px; font-weight: bold; line-height: 4.6; box-sizing: border-box; z-index: 2;}
figure p span{position: relative; top: 80px; z-index: 3; left: 65px; color:#fff; text-shadow: 2px 2px 2px #7f7f7f;
font-size: 30px; text-align: center; left: 80px; top: 150px;}
figure p b{position: relative; top: 78px; z-index: 3; left: 65px; color:#fff; font-size: 30px; 
    text-align: center; left: 80px; top: 150px;}
figure p a{position: absolute; top: 0; left: 52px; width: 225px;height: 200px; overflow: hidden;}
/*figure 적용*/
nav{position: fixed; bottom: 70px; left: 6%; width: 88%; z-index: 99;}
nav li{float: left; width: 25%;}
nav li a{width: 98%; height: 35px; background: #fff; margin:0 auto;
transition:all .5s; font-size: 12px; font-weight: bold; line-height: 35px; letter-spacing: 10px; box-sizing: border-box;
padding-left: 30px; opacity: 0.6; z-index: 1; position: relative;}
nav li:hover a{background:#111; color:#eee; opacity:0.9;}
nav li a.on{background:#111; color:#eee; opacity:0.9;}
/*하단바 적용*/
#wrap>img:nth-child(1){position: absolute; top: 40px; left: -500px; opacity: 0.8; width: 300px; height: auto;
animation:ani1 70s linear infinite;}
#wrap>img:nth-child(2){position: absolute; top: 20px; left: 0; opacity: 0.7; width: 500px; height: auto;
animation:ani2 120s linear infinite;}
figure p img.c1{width: 200px; height: auto; position: absolute; top: 30px; left: -50px; z-index: 3;
animation:ani3 50s linear infinite;}
figure p img.c2{width: 200px; height: auto; position: absolute; top: 20px; left: -600px; z-index: 3;
animation:ani4 90s linear infinite;}
/*이미지 전체 적용, 애니메이션 준비*/
@keyframes ani1{
    from{left:-500px;}
    to{left:1950px;}}
@keyframes ani2{
        from{left:0;}
        50%{left:1950px; opacity: 0;}
        50.1%{left: -700px; opacity: 0.8;}
        to{left:0;}}
@keyframes ani3{
    from{left:-50px;}
    to{left:540px;}}
@keyframes ani4{
    from{left:0;}
    50%{left:540px; opacity: 0;}
    50.1%{left:-600px; opacity: 1;}
    to{left:0;}}
/*키프레임 적용*/
#wrap.morning{background: url(../images/470.jpg)0 0/100%;}
#wrap.morning .list a{color:#ede9d2;}
#wrap.morning .sns i{color:#ede9d2;}
#wrap.morning figure p{background:url("../images/141.png")no-repeat; z-index: 2; color:#ccc;
background-size: contain;}
#wrap.morning article p{color:#997c76;}
#wrap.morning article b{color:#a37b6b;}
#wrap.morning>img:nth-child(1){opacity: 1;}
#wrap.morning>img:nth-child(2){opacity: 1;}
/*morning 설정?*/
#wrap.afternoon{background:url(../images/353.jpg)0 0/100%;}
#wrap.afternoon .list a{color:#1d78e1;}
#wrap.afternoon .sns i{color:#1d78e1;}
#wrap.afternoon figure p{background:url("../images/131.png")no-repeat; z-index: 2; color:#aaa;
    background-size: contain;}
#wrap.afternoon article p{color:#badbfe;}
#wrap.afternoon article b{color:#8dc3fe;}
#wrap.afternoon>img:nth-child(1){opacity: 1;}
#wrap.afternoon>img:nth-child(2){opacity: 1;}
/*afternoon 설정*/
#wrap.evening{background:url(../images/10806.jpg)0 0/100%;}
#wrap.evening .list a{color:#54437a;}
#wrap.evening .sns i{color:#54437a;}
#wrap.evening figure p{background:url("../images/151.png")no-repeat; z-index: 2; color:#666;
    background-size: contain;}
#wrap.evening article p{color:#af9dc9;}
#wrap.evening article b{color:#e0c9e3;}
#wrap.evening>img:nth-child(1){opacity: 1;}
#wrap.evening>img:nth-child(2){opacity: 1;}
/*evening 설정*/
#wrap.night{background:url(../images/212.jpg)0 0/100%;}
#wrap.night .list a{color:#f7eea1;}
#wrap.night .sns i{color:#f7eea1;}
#wrap.night figure p{background:url("../images/161.png")no-repeat; z-index: 2; color:#ddd;
    background-size: contain;}
#wrap.night article p{color:#fdf8f7;}
#wrap.night article b{color:#f8fcff;}
#wrap.night>img:nth-child(1){opacity: 1;}
#wrap.night>img:nth-child(2){opacity: 1;}
/*night 설정*/